<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contrat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<h1>Confirmation de la création du contrat :</h1>
<h3>Numéro d'assuré : <span th:text="${contrat.numeroAssure}"/></h3>
<h3>Numéro de contrat : <span th:text="${contrat.numeroContrat}"/></h3>
<h3>Numéro de produit : <span th:text="${contrat.numeroProduit}"/></h3>
<h3>Date de début : <span th:text="${contrat.dateDebut}"/></h3>

</body>
</html>